data/*.jpg
data/*/*.jpg
data/*/*/*

data/*.zip
data/*.mp4

faster-rcnn_vgg16/Dataset/*/*/*.jpg


yolo-object-detection/output/*.avi
# yolo-object-detection/videos/
yolo-object-detection/images/
yolo-object-detection/yolo-coco/*.weights
